[Desktop Entry]
Type=Application
Name=CogniFlow
GenericName=Assistente DSA
Comment=Organizzatore di idee con controllo a gesti e voce
Exec=/home/wildlux/Desktop/Cogniflow/avvia_cogniflow.sh
Path=/home/wildlux/Desktop/Cogniflow
Icon=/home/wildlux/Desktop/Cogniflow/assistente_dsa/ICO-fonts-wallpaper/ICONA.png
Terminal=false
Categories=Education;Accessibility;
Keywords=DSA;dislessia;pensierini;gesti;webcam;accessibilità;
StartupNotify=true
